.page-footer__wrapper {
  .wrapper();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 20px;
}

.page-footer__nav {
  display: none;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page-footer__contacts-first {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-footer__phone,
.page-footer__email {
  font-family: @links-font; 
  color: @grey-text-color;
  font-size: 0.75rem;
  line-height: 0.91rem;
}

.page-footer__insta {
  margin-left: 8px;
}
