// Colors

@white-color: #ffffff;
@black-color: #000000;

@grey-titles-color: #464343;
@grey-text-color: #494948;
@light-text-color: #858080;

@bg-main-color: #ffe4e4;
@bg-darker-color: #fbcdcd;
@bg-grey-color: #e9e9e9;

@decorations-bg-color: #e46d71;
@decorations-text-color: #e46d71;
@placeholder-text-color: #878282;

@line-top-color: #b3d8e2;
@line-bottom-color: #ececec;

@secondary-color: #5ab6bb;

// Fonts

@titles-font: "Cormorant", Times, serif;
@text-font: "Roboto", Helvetica, sans-serif;
@links-font: "Montserrat", Helvetica, sans-serif;

// Breakpoints

@tablet-width: 768px;
@desktop-width: 1400px;

@margin: 20px;
@cols-1-12: calc((100% - 220px) / 12);
@cols-2-12: calc((100% - 220px) / 12 * 2 + 20px);
@cols-3-12: calc(((100% - 220px) / 12) * 3 + (20px * 2));
@cols-4-12: calc(((100% - 220px) / 12) * 4 + (20px * 3));
@cols-5-12: calc(((100% - 220px) / 12) * 5 + (20px * 4));
@cols-6-12: calc(((100% - 220px) / 12) * 6 + (20px * 5));
@cols-7-12: calc(((100% - 220px) / 12) * 7 + (20px * 6));
@cols-8-12: calc(((100% - 220px) / 12) * 8 + (20px * 7));
@cols-9-12: calc(((100% - 220px) / 12) * 9 + (20px * 8));
@cols-10-12: calc(((100% - 220px) / 12) * 10 + (20px * 9));
@cols-11-12: calc(((100% - 220px) / 12) * 11 + (20px * 10));
@cols-12-12: 100%;

@margin-xs: 30px;
@cols-xs-1-2: calc((100% - 30px) / 2);

// Borders

@primary-border: 1px solid @decorations-text-color;
@secondary-border: 1px solid @grey-text-color;
